.btn-submit {
  background-color: #9b59b6; /* Tu color violeta */
  color: #fff;
  border-color: #9b59b6;
  transition: all 0.3s ease;
}

.btn-submit:disabled {
  /* "como el de descarga" (negro outline) */
  background-color: transparent;
  color: white;
  border-color: white;
}