<section id="about" class="section-light">
    <div class="about-container">
      <div class="about-content">
        <img src="C:\Users\Juanma\Documents\GitHub\portfolio\portfolio\src\assets\images\professional-photo.jpg" alt="Your Name" class="about-image">
        <div>
          <h1>About Me</h1>
          <p>
            I am a Full-Stack developer based in Montevideo, Uruguay. Currently, I am an advanced student 
            pursuing a Bachelor's degree in Systems at ORT University. I have developed a strong passion 
            for the field of systems and am motivated by the positive impact that technology can have on society.
          </p>
        </div>
      </div>
    </div>
  </section>
  