<section id="about" class="section section-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="text-center">
          <h2 class="mb-4">About Me</h2>
        </div>
        
        <div class="app-card p-4 p-md-5"> 
          <p class="lead"> Hi! I’m a Systems Engineering student and Full Stack Developer with 2+ years of experience building fintech web applications using .NET (C#) and Angular.
          </p>
          <p>
            Passionate about problem-solving and clean code, I thrive in collaborative environments where I can contribute to impactful projects while continuously learning.
          </p>

          <h3 class="h5 mt-4">My strengths:</h3>
          <ul>
            <li> Backend Development: REST APIs, .NET Core, Entity Framework</li>
            <li> Frontend Development: Angular, TypeScript, responsive UI/UX</li>
            <li> Agile Methodologies: Scrum, iterative development, teamwork</li>
          </ul>

          <p classs="mt-4">
            Always eager for new challenges, I’m looking to expand my skills in cloud technologies, microservices, and cutting-edge frameworks.
          </p>
          <em class="d-block text-center mt-4">Let’s connect and build something great!</em>
        </div>
      </div>
    </div>
  </div>
</section>