.header-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1c1c1c;
  color: #fff;
  padding: 10px 40px; /* Más padding horizontal para separar del borde */
  display: flex;
  justify-content: flex-start; /* Alinea los botones a la izquierda */
  align-items: center;
  gap: 20px; /* Espacio entre botones */
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
  
  .header-nav button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
  .header-nav button:hover {
    background-color: #9b59b6; /* Resalta el botón en violeta */
    color: #fff;
  }
  