:host {
  display: block;
  background-color: inherit; /* Hereda el color del contenedor */
  color: inherit; /* Hereda el color del contenedor */
  padding: 2rem 0;
}

h2 {
  text-align: center; /* Centrar el título */
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Seis columnas */
  gap: 20px;
  justify-items: center;
  max-width: 1200px; /* Ancho máximo para organizar los ítems */
  margin: 0 auto; /* Centrar la grilla */
}

.skill-card {
  background-color: #fff; /* Fondo blanco */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  width: 120px; /* Ancho compacto */
  height: 120px; /* Alto compacto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.skill-card img {
  max-width: 50px; /* Tamaño uniforme de iconos */
  margin-bottom: 5px;
}

.skill-name {
  font-size: 0.9rem;
  font-weight: bold;
  color: #2c2c54;
}
