<app-header></app-header>

<main>
  <section id="about" class="section-light">
    <app-about></app-about>
    </section>
    <section id="skills" class="section-dark">
        <app-skills></app-skills>
    </section>
    <section id="experience" class="section-light">
        <app-experience></app-experience>
    </section>
    <section id="education" class="section-dark">
        <app-education></app-education>
    </section>
    <section id="contact" class="section-light">
        <app-contact></app-contact>
    </section>
    </main>
<app-footer></app-footer>