<app-header></app-header>

<main>
    <section id="about" class="section section-light">
    <app-about></app-about>
  </section>

    <section id="skills" class="section section-dark">
    <app-skills></app-skills>
  </section>

    <section id="experience" class="section section-light">
    <app-experience></app-experience>
  </section>

    <section id="education" class="section section-dark">
    <app-education></app-education>
  </section>

    <section id="contact" class="section section-light">
    <app-contact></app-contact>
  </section>
</main>

<app-footer></app-footer>