<div class="container">
  <h2 class="section-title">{{ langService.t().education.section_title }}</h2>

  <div class="timeline">

    <div *ngFor="let edu of educationHistory()" class="timeline-item">
      <div class="timeline-dot"></div>

      <div class="timeline-content">
        <div class="education-header">
          <div class="institution-logo" *ngIf="edu.logo">
            <img [src]="edu.logo" [alt]="edu.institution + ' Logo'" loading="lazy" decoding="async">
          </div>

          <div class="education-title">
            <h3>{{ edu.degree }}</h3>
            <p class="education-institution">{{ edu.institution }}</p>
            <p class="education-period">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar3"
                viewBox="0 0 16 16">
                <path
                  d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                <path
                  d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
              </svg>
              {{ edu.period }}
            </p>
          </div>
        </div>

        <ul class="education-points">
          <li *ngFor="let achievement of edu.achievements">{{ achievement }}</li>
        </ul>
      </div>
    </div>

  </div>
</div>