<section id="education" class="section section-dark">
  <div class="container">
    <h2 class="text-center mb-5">Education</h2>
    
    <div class="row g-4 justify-content-center">
      
      <div *ngFor="let edu of educationHistory" class="col-12 col-lg-10">
        
        <app-info-card
            [logo]="edu.logo"
            [title]="edu.title"
            [subtitle]="edu.subtitle"
            [dates]="edu.dates"
            [points]="edu.points"
            [style]="'dark'">
        </app-info-card>

      </div>
      
    </div>
  </div>
</section>