<section>
    <div class="container">
        <h2 class="text-center text-warning mb-4">Education</h2>
        <div class="education-grid">
            <div class="education-card">
                <h3>Bachelor in Systems</h3>
                <p class="institution">University ORT Uruguay</p>
                <p class="dates">(2019 - Present)</p>
                <ul>
                    <li>Currently pursuing a Bachelor's degree in Systems with a focus on software development and technology.</li>
                    <li>Enhanced problem-solving skills through practical and theoretical projects.</li>
                    <li>Gained experience in teamwork and collaboration for academic and professional growth.</li>
                </ul>
            </div>
            <div class="education-card">
                <h3>Technical High School in Computer Science</h3>
                <p class="institution">UTU, Uruguay</p>
                <p class="dates">(2015 - 2018)</p>
                <ul>
                    <li>Completed a technical program focused on foundational computing concepts and programming.</li>
                    <li>Acquired essential skills in software development, algorithms, and data structures.</li>
                    <li>Developed strong technical abilities, preparing for higher education in the field.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
