<section class="section section-dark skills-section" id="skills">
    <div class="skills-bg-glow"></div>
    <div class="container skills-container">
        <h2 class="section-title">{{ langService.t().skills.section_title }}</h2>

        <div class="skills-grid">
            <div *ngFor="let skill of skills" class="skill-card">
                <div class="skill-icon-wrapper">
                    <img [src]="skill.icon" [alt]="skill.name + ' Logo'">
                </div>
                <p class="skill-name">{{ skill.name }}</p>
            </div>
        </div>
    </div>
</section>