<section class="experience-section"> <div class="container">
    <h2 class="text-center  mb-4">Work Experience</h2>
    
    <div class="row g-4 justify-content-center">
      
      <div *ngFor="let job of workHistory" class="col-12 col-lg-10">
        
        <app-info-card
            [logo]="job.logo"
            [title]="job.title"
            [subtitle]="job.subtitle"
            [dates]="job.dates"
            [points]="job.points"
            [mode]="'light'"> </app-info-card>

      </div>
      
    </div>
  </div>
</section>