:host {
    display: block;
    background-color: inherit;
    color: inherit;
    padding: 2rem 0;
  }
  
  h2 {
    text-align: center;
  }
  
  .experience-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
  }
  
  .experience-card {
    background-color: #fff;
    color: #2c2c54;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 90%; /* Cambiado a porcentaje para mejor adaptación */
    max-width: 800px;
    margin: 0 auto;
  }
  
  .experience-card img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 5px;
    margin: 10px 0;
    display: block; /* Asegura que la imagen se centre correctamente */
    margin-left: auto;
    margin-right: auto;
  }
  
  .experience-card h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #2c3e50;
    text-align: center; /* Centrado para móviles */
  }
  
  .position, .dates {
    text-align: center; /* Centrado para móviles */
  }
  
  .experience-card ul {
    padding-left: 20px;
    margin-top: 10px;
  }
  
  /* Versión para pantallas más grandes */
  @media (min-width: 768px) {
    .experience-card h3,
    .position,
    .dates {
      text-align: left; /* Alineación izquierda en desktop */
    }
    
    .experience-card img {
      margin-left: 0; /* Imagen alineada a la izquierda */
      margin-right: 0;
    }
  }
  
  /* Efecto hover solo para dispositivos que lo soportan */
  @media (hover: hover) {
    .experience-card:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
  }